

html {
    background: rgb(0,27,36);
    /*background: linear-gradient(180deg, rgba(0,27,36,1) 11%, rgba(9,42,53,1) 86%, rgba(6,51,66,1) 98%);*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
}

.logo{
    border: none;
    margin-top: 10px;
}

/*o menu de navegação*/
.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial;
}


.menu-nav{
    padding: 0;
    display: inline;
    justify-content: space-between;
    align-items: center;
}

.objetivos{
    padding-top: 40px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.objetivos li {
    padding: 15px;
    width: 20%;
    display: inline;
}



/*textos do menu*/
.text-menu{
    text-decoration: none;
    font-size: 18px;
    color: rgb(235, 242, 245);
}

/*cor dos links depois de acessá-los*/
.text-menu:visited{
    color: rgb(235, 242, 245);
}



/*cada item do menu de navegação*/
.menu-item{
    align-items: center;
    width: 25%;
    display: inline;
}

/*todos os itens do menu*/
.menu-item a {
    padding: 10px;
    display: inline-block;
}

/*toda a caixa de pesquisa*/
.menu-caixa{
    border-radius: 40px;
    background-color: #557985;
    padding: 5px;
    margin: 10px;
    display: inline;
    justify-content: space-between;
    align-items: center;
}

/*texto da caixa de pesquisa*/
.menu-caixa ::placeholder{
    font-size: 15px;
    color: rgb(235, 242, 245);
}


 /*caixa de texto pesquisar*/
.caixa-texto {
    border: none;
    background: none;
    outline: none;
    padding-left: 10px;
    color: rgb(235, 242, 245);
    font-size: 15px;
}

/*a imagem da lupa*/
.menu-caixa img {
    width: 12px;
    position: relative;
}

.button-criar {
    background-color: #557985;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 8em;
}

.menu-item button {
    font-size: 18px;
    text-decoration: none;
    color: rgb(235, 242, 245);
}

.menu-acesso{
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.section-1{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 40px;
    text-align: center;
    justify-content: space-evenly;
}

.section-1 div{
    width: 50%;
}

.section-1 img{
    width: 60%;
    
}

